<h1>edit building</h1>

<%= form_for @building do |form| %>
  <div class="input-field col s12">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>


  <div class="input-field col s12">
    <%= form.label :use %>
    <%= form.text_field :use %>
  </div>

  <div class="input-field col s12">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <%= form.submit 'UPDATE', class: "review-submit", class: "waves-effect waves-light btn-large" %>

<% end %>