
<div id="nav-container">
  <ul>
    <li id="nav"><%= link_to 'Suggestions', building_suggestions_path(@building.id), class: "nav-link" %></li>
    <li id="nav"><%= link_to 'Edit', edit_building_path(@building), class: "nav-link" %></li>
    <li id="nav"><%= link_to 'Delete', @building, method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link" %></li>
    <li id="nav"><%= link_to 'Add a Review', new_building_review_path(@building), class: "nav-link" %></li>
    <li id="nav"><%= link_to 'Add a Suggestion', new_building_suggestion_path(@building), class: "nav-link" %></li>
  </ul>
</div>



  <div class="row">
    <!-- <div class="col s6"> -->
      <%= image_tag(@building.image, class: "image-tag") %>
  <!-- </div> -->

<div class="row">
  <h5>Location:</h5><%= @building.location %>
  <h5>Address:</h5><%= @building.full_street_address %>
  <h5>Current Use:</h5><%= @building.use %>
  <h5>Building Material:</h5><%= @building.material %>
  <h5>Cost:</h5><%= @building.status %>
</div>

<div id="reviews">
  <h4>REVIEWS</h4>
  <% @review.each do |review| %>
<!--   <div class="field"><%= image_tag(review.image) %></div> -->
    <!-- <div class="col s6 offset-s6 grid-example"> -->
      <p><span class="flow-text" id="review-snippet"><%= truncate(review.content, length: 250) { link_to 'read more', building_review_path(@building, review.id) } %></span></p>
      <hr>
    <!-- </div> -->
  <% end %>
</div>



