<h1>this is the show page</h1>
<ul>
<li><%= link_to 'Edit', edit_building_path(@building) %></li>
<li><%= link_to 'Delete', @building, method: :delete, data: { confirm: "Are you sure?" } %></li>
<li><%= link_to 'Add a Review', new_building_review_path(@building) %></li>
<li><%= link_to 'Add a Suggestion', new_building_suggestion_path(@building) %></li>
</ul>
<div class="field"><%= @building.status %></div>
<div class="field"><%= @building.use %></div>
<div class="field"><%= image_tag(@building.image, class: "image-tag") %></div>
<div class="field"><%= @building.material %></div>
<div class="field"><%= @building.architect %></div>



<% @review.each do |review| %>
<div class="field"> <%= review.rating %></div>
<div class="field">  <%= review.content %></div>
<div class="field"><%= image_tag(review.image) %></div>
<div class="field"> <%= truncate(review.content, length: 300) { link_to 'read more', building_review_path(@building, review.id) } %></div>






<% end %>


