<h1>add a new review</h1>

<%= form_for @review do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :design %>
    <%= form.text_field :design %>
  </div>

  <div class="action">
    <%= form.submit 'New review' %>
  </div>

<% end %>