<h1>add a new review</h1>

<%= form_for [@building, @review] do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>


  <div class="field">
    <%= form.label :design %>
    <%= form.text_field :design %>
  </div>

  <div class="action">
    <%= form.submit 'New review' %>
  </div>

  <div class="field">
    <%= radio_button_tag(:rating, 1) %>
    <%= radio_button_tag(:rating, 2) %>
    <%= radio_button_tag(:rating, "1-5") %>            
    <%= radio_button_tag(:rating, "1-5") %>
    <%= radio_button_tag(:rating, "1-5") %>
  </div>

<% end %>