<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "building review" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB2g-ypBdo7GOCo5z8cbol3SZu5BP4NUA">
  </script>
  </head>

  <body>
<!--   <%= image_tag("sky.jpg", :class => "typography-image", :alt => "typography-image") %>
 -->

      <h1><%= link_to "CITYREVIIEWWW", buildings_path %></h1>
      <%= link_to 'MAP', map_path %>

    <%= yield %>

  </body>
</html>

