<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>building review</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
    <ul>
      <li><%= link_to "PUBLIC ARCHITECTURE FORUM", buildings_path %></li>
      <li><%= link_to "Add Building",new_building_path %></li>
      <li><%= link_to 'MAP', map_path %></li>
    </ul>
    </div>
  </nav>

    <%= yield %>

  </body>
</html>

