<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>building review</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB2g-ypBdo7GOCo5z8cbol3SZu5BP4NUA">
  </script>
  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
    <ul>
      <li><%= link_to "ARCHITECTONIX", buildings_path %></li>
      <li><%= link_to 'MAP', map_path %></li>
    </ul>
    </div>
  </nav>

    <%= yield %>

  </body>
</html>

