<!DOCTYPE html>
<html>
<head>

  <title>PublicArchitecture</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB2g-ypBdo7GOCo5z8cbol3SZu5BP4NUA&callback=initMap">
  </script>
</head>
<body>
<h1><%= link_to "REDESIGNTHECITYMOTHERFUCKERS", buildings_path %></h1>


<%= yield %>


</body>
</html>
